html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

main {
	height: 80%;
	width: 100%;
	overflow: hidden;
}

div {
	overflow: hidden;
}

a:hover{
	text-decoration: none;
}


.banner {
	height: 14%;
	width: 80%;
	margin: 10px;
	margin-left: 10%;
	padding: 10px;
	background-color: #9A1B1B;
	font-size: 40px;
	color: #EFD8A8;
	border-radius: 10px;
	text-align: center;
	transition: transform 0.2s;
}

.banner:hover {
  transform: scale(1.1);
}

#banner1 {
	margin-top: 7%;
}

#banner4 {
	margin-bottom: 0px;
}

@media screen and (min-width: 600px) {
  .banner {
    font-size: 20px;
  }
}

@media screen and (min-width: 1150px) {
  .banner {
    font-size: 40px;
  }
}
