html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

main {
	height: 80%;
	width: 80%;
	float: left;
}

aside {
	height: 80%;
	width: 20%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	height: 14%;
	width: 80%;
	margin: 10px;
	margin-left: 10%;
	padding: 10px;
	background-color: #9A1B1B;
	font-size: 40px;
	color: #EFD8A8;
	border-radius: 10px;
	text-align: center;
}

#banner1 {
	margin-top: 7%;
}

#banner5 {
	margin-bottom: 0px;
}

#twitterFeed {
	height: 463px;
    width: 234px;
    border-radius: 6px;
    background-color: #9A1B1B;
	display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) {
  .banner {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1150px) {
  .banner {
    font-size: 40px;
  }
}