html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

main {
	height: 80%;
	width: 75%;
	float: left;
	overflow: hidden;
}

aside {
	height: 80%;
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.banner {
	height: 14%;
	width: 80%;
	margin: 10px;
	margin-left: 10%;
	padding: 10px;
	background-color: #9A1B1B;
	font-size: 40px;
	color: #EFD8A8;
	border-radius: 10px;
	text-align: center;
	transition: transform 0.2s;
	font-family: Futura,  "BdCn BT";
}

#banner1 {
	margin-top: 7%;
}

#banner5 {
	margin-bottom: 0px;
}

#twitterFeed {
	height: 463px;
    width: 264px;
    margin-right: 2%;
    border-radius: 6px;
    background-color: #9A1B1B;
	display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
	text-decoration: none;
}

.banner:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 320px) {
  .banner {
    font-size: 20px;
  }
}

@media screen and (min-width: 1150px) {
  .banner {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
	aside {
		display: none;
	}
}
