nav {
	height: 20%;
	width: 100%;
	box-shadow: 0px 3px 8px;
}

p {
	margin-bottom: -8px;
	margin-top: 0px;
}

#titol {
	font-size: 30px;
}

#subtitol {
	font-size: 18px;
	margin-left: 26px;
}

.bg-light {
	background-color: #9A1B1B!important;
}

.navbar-brand {
	color: #EFD8A8!important;
}

.nav-link {
	color: #EFD8A8!important;
	opacity: 1!important;
	font-size: 20px;
	align-self: flex-end;
}

#navbarNav {
	justify-content: flex-end;
}

.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
	display: flex;
	justify-content: flex-end;
	background-color: #9A1B1B;
}

h1 {
	margin-left: 40px;
	margin-top: 40px;
	font-size: 32px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
  #titol {
  	font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
  #subtitol {
  	font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  	margin-left: calc(4px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1150px) {
  h1 {
    font-size: 32px;
  }
  #titol {
  	font-size: 30px;
  }
  #subtitol {
  	font-size: 18px;
	margin-left: 26px;
  }
}
